.contact-form
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-text
{
    width:100%;
    height: 2.5em;
}
.textarea{
    width:100%

}
.form{
    width: 50%;
}
.asterik
{
    color: red;
}
.error
{
    color: red;
}