.name {
    color: red;
    font-weight: bold;
  }
  button {
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px !important;
  
  }
  
  
  .heading1 {
   
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2em;
    font-size: 30px ;
   
    padding: 0.5em 0;
  }
  .heading2 {
    
  
    font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  }
  .custom_github
  {
    font-size: 2.5em;
    background: white;
    padding: 0 5px;
    color: black;
  }
  .custom_linkedin
  {
    font-size: 2.5em;
    background: white;
    color: #0072b1;
    padding: 0 10px;

  }
  .intro
  {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    justify-content: center;
    height: 450px;
  }
  .icons
  {
    height: 15%; 
     }
     
  .introduction
  {
    height: 85%; 
  
  }